
.project-container {
            width: 100%;
            height: 300px;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);

          }
          .project {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
          }
