footer .direccion {
  background: #3c4045;
  padding: 30px 0;
  color: #fff; }
  footer .direccion .titulo {
    font-size: 32px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 30px; }
  footer .direccion .calle,
  footer .direccion .telefono,
  footer .direccion .correo {
    margin-bottom: 10px; }
  footer .direccion .logo img {
    margin-top: 70px; }
footer .social {
  text-align: center;
  padding: 20px 0; }
  footer .social a {
    padding: 10px;
    display: inline-block;
    margin: 0 20px;
    width: 50px;
    font-size: 22px;
    color: #fff;
    background: #000;
    border-radius: 100px; }
    footer .social a:hover {
      text-decoration: none; }
    footer .social a.linkedin {
      background: #3b5998; }
    footer .social a.github {
      background: #000000; }
    footer .social a.twitter {
      background: #239bca; }

@media screen and (max-width: 992px) {
  header .contenedor_logo_menu .logo {
    margin-bottom: 20px;
    text-align: center; }
  header .contenedor_logo_menu .menu {
    text-align: center; }
    header .contenedor_logo_menu .menu a {
      margin: 0 20px; }
  header .textos {
    margin: 50px 0;
    font-size: 16px; }
    header .textos .primera_linea {
      font-size: 1.5em; }
    header .textos .segunda_linea {
      font-size: 1.3em; }
    header .textos .contenedor-btns a {
      margin-bottom: 10px; }

  .main .fotos .foto .titulo {
    margin-top: 0; }
  .main .clientes .cliente {
    margin-bottom: 40px; } }
@media screen and (max-width: 768px) {
  .main .caracteristicas .caracteristica {
    margin-bottom: 40px; }
  .main .fotos .foto {
    text-align: center; }
    .main .fotos .foto .texto * {
      text-align: left; }
    .main .fotos .foto .texto p {
      margin-bottom: 10px; }
  .main .precios .precio {
    margin-bottom: 20px; }

  footer .direccion {
    text-align: center; }
    footer .direccion .logo img {
      margin-top: 20px; } }

